@import "tailwindcss";

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
}
* {
  font-family: "Rethink Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* background-color: #f0f0f0; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", serif;
  font-style: normal;
}

.hr-line {
  width: 100%;
  height: 4px;
  background-color: #004242;
}

.red-text {
  color: #f05a7e;
}

.green-text {
  color: #36ba98;
}

.small-caps {
  font-variant: small-caps;
}

.parallax {
  height: 350px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./assets/james2.png");
}

#linkedin:hover {
  background-color: #f05a7e;
  transition: 0.5s all ease-in-out;
}

.red {
  background-color: #f05a7e;
}
/*
darkPurple: 624E88
purple: 8967B3
yellow: #E6D9A2
pink: #CB80AB
green: #36BA98
offwhite: #F4F8D3
lightyellow: #FFE6A9;
brown: #DEAA79
warmred: #F05A7E
lightgray: #f0f0f0
*/
